<h1 id="title"> Lecteur Audio </h1>


<h2 id="playlist" class="hide">Ma Playlist</h2>
<div id="currentPlaylist">
</div>


<h2 id="player" class="hide">Le player</h2>
<div>

<div id="currentPlayer">Le statut du player
<img id="playerStatus" class="stop" src="1_music/view/images/player/stop.png">
</div>

<div id="controller">Le controller
<img id="playPause" class="stop" src="1_music/view/images/player/stop.png">
</div>

</div>


<h2 id="bibliotheque" class="hide">Ma bibliothèque</h2>
<div id="database">
	<ul id="listGenres">
	</ul>
	<ul id="listAlbums">
	</ul>
	<ul id="listTitles">
	</ul>
</div>

<div id="alarm">
	<li> l'alarm</li>
	<li class="addAlarm">Rajouter une alarm</li>
	<li class="deleteAlarm">Supprimer l'alarm</li>
</div>